.security-trust {
  &-title {
    color: #5e5e5e;
    margin: 0px;
  }

  &-blurb {
    margin: 0px 30px;
  }

  &-list {
    padding-left: 20px;
  }

  &-card-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  &-card {
    border-radius: 3px;
    background: #ffffff;
    flex-grow: 1;
    margin: 20px;
    max-width: 475px;
  }

  &-card-body {
    padding: 30px;
  }

  &-logo {
    float: left;
    padding: 0px 20px 0px 0px;
    width: 125px;
    height: 125px;
  }

  &-logo img {
    width: 100%;
    height: auto;
  }

  &-sub-text{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }

  &-intro{
    font-size: 1.2em;
    margin-bottom: 1.5em;
  }

  &-related-links{
    width: 85%;
    margin: 40px auto 0px auto;
  }
}

.page-foot-container {
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 80px;
}
